.post-info-cont {
  .post-info {
    span {
      display: inline-block;
      width: 50%;
      margin-right: -4px;
      vertical-align: middle;
    }
    &:not(:last-child) {
      margin-bottom: .7rem;
    }
  }
  .label {
    font-size: .8rem;
  }
  .value {
    text-align: right;
    font-size: .9rem;
  }
}

.admin-sidebar {
  hr {
    margin: .7rem 0;
  }
}

/* HELPERS */
.pt-2-3-rm {
  @media (min-width:992px) {
    padding-top: 2.3rem;
  }
}
