$sk-section-title-sizes: (
  small: var(--dui-font-size),
  medium: var(--dui-font-size-lg),
  large: var(--dui-font-size-xl),
);

.kt-section {
  &.kt-section--space-sm {
    margin-bottom: 1rem;
  }

  &.kt-section--space-md {
    margin-bottom: 2rem;
  }

  &.kt-section--space-lg {
    margin-bottom: 2.5rem;
  }

  &.kt-section--space-xl {
    margin-bottom: 3rem;
  }

  .kt-section__heading,
  .kt-section__title {
    display: block;
    padding: 0;
    margin: 0 0 var(--dui-spacing-3);
    font-size: var(--dui-font-size-md);
    font-weight: 500;
    color: kt-base-color(label, 4);

    @each $size, $value in $sk-section-title-sizes {
      &--#{$size} {
        font-size: $value;
      }
    }
  }

  .kt-section__desc {
    display: block;
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: kt-base-color(label, 3);
  }

  .kt-section__info {
    display: block;
    padding: 0;
    margin: 0 0 1rem;
    font-size: 1rem;
    color: kt-base-color(label, 3);
  }

  .kt-section__content {
    display: block;
    padding: 0;
    margin: 0;

    &.kt-section__content--border {
      padding: 1.5rem;
      border: 3px solid kt-base-color(grey, 2);

      @include kt-rounded {
        border-radius: $border-radius;
      }
    }

    &.kt-section__content--solid {
      padding: 1.5rem;
      background-color: kt-base-color(grey, 1);
      border-left: 4px solid kt-base-color(grey, 3);
      border-top-left-radius: var(--dui-border-radius);
      border-top-right-radius: var(--dui-border-radius);
    }

    &.kt-section__content--x-fit {
      padding-right: 0;
      padding-left: 0;
    }

    &.kt-section__content--fit {
      padding: 0;
    }
  }
}
