.menu-item {
    display: flex;
    align-items: center;

    &__label {
        flex: 1;
        padding: var(--dui-spacing-1);
        border: var(--dui-border-light);
        display: flex;
        justify-content: space-between;
        background-color: var(--dui-color-secondary);
        gap: var(--dui-spacing-1);
        color: var(--dui-color-text-dark);
    }
}
