.user-profile-widget {
  $block: &;

  &__head {
    display: flex;
    align-items: flex-start;
  }

  &__media {
    width: 90px;
    overflow: hidden;
    border-radius: var(--dui-border-radius);

    img {
      max-width: 100%;
    }
  }

  &__content {
    flex: 1;
    padding-left: var(--dui-spacing-2);
  }

  &__username {
    font-size: var(--dui-font-size-lg);
    font-weight: var(--dui-font-weight-bold);
    color: var(--dui-color-base-label-4);

    i {
      padding-left: var(--dui-spacing-1);
    }
  }

  &__subtitle {
    display: block;
    font-weight: var(--dui-font-weight-bold);
    color: var(--dui-color-base-label-2);
  }

  &__body {
    #{$block}__content {
      padding: var(--dui-spacing-3) 0;

      #{$block}__info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-bottom: var(--dui-spacing-1);

        #{$block}__label {
          font-weight: var(--dui-font-weight-bold);
          color: var(--dui-color-base-label-4);
        }

        #{$block}__data {
          font-weight: var(--dui-font-weight-normal);
          color: var(--dui-color-base-label-2);
        }

        a.user-profile-widget__data:hover {
          color: var(--dui-brand-color);
          transition: var(--dui-transition);
        }

        &:last-child {
          padding-bottom: 0;
        }
      }
    }

    #{$block}__items {
      #{$block}__item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0.9rem 1.05rem 0.9rem 0.6rem;
        margin: 0.4rem 0;

        &.user-profile-widget__item--active {
          background: #f2f3f7;
          transition: color 0.3s ease;

          @include kt-rounded {
            border-radius: $border-radius;
          }

          #{$block}__section {
            #{$block}__desc {
              color: kt-brand-color();
            }

            #{$block}__icon {
              .kt-svg-icon g [fill] {
                fill: kt-brand-color();
              }
            }
          }
        }

        #{$block}__section {
          #{$block}__icon {
            svg {
              width: 2rem;
              height: 1.5rem;
            }

            .kt-svg-icon g [fill] {
              fill: kt-base-color(label, 2);
            }
          }

          #{$block}__desc {
            padding-left: 0.3rem;
            font-weight: 500;
            color: kt-base-color(label, 2);
          }
        }

        &:hover {
          cursor: pointer;
          background: #f2f3f7;
          transition: color 0.3s ease;

          @include kt-rounded {
            border-radius: $border-radius;
          }

          #{$block}__desc {
            color: kt-brand-color();
          }

          #{$block}__icon {
            .kt-svg-icon g [fill] {
              fill: kt-brand-color();
            }
          }
        }
      }
    }
  }
}

@include kt-tablet-and-mobile {
  .user-profile-widget {
    $block: &;

    &__media {
      img {
        max-width: 60px;
      }
    }

    &__body {
      #{$block}__content {
        padding-bottom: var(--dui-spacing-3);
      }
    }
  }
}
