//
// Portlet
//

.kt-portlet {

    // Global white content mode
    .kt-page-content-white & {
        box-shadow: $elevate-shadow-2;
    }

	// Base
	.kt-portlet__head {
        .kt-portlet__head-toolbar {
            .nav-pills,
            .nav-tabs {
                margin: 0;
            }

            .kt-portlet__head-wrapper {
                display: flex;
                align-items: center;
            }
        }

        .kt-portlet__head-progress {
            position: absolute;
            left: 0;
            right: 0;
        }
  }

    // Padding options
    &.kt-portlet--fit {
        &.kt-portlet--height-fluid-half {
           align-items: stretch;

           .kt-portlet__body {
                height: 100%;
                flex-direction: column;
                align-items: stretch;
            }
        }
    }

    .kt-portlet__head.kt-portlet__head--fit {
    	padding: 0;
    }

    .kt-portlet__body.kt-portlet__body--fit {
    	padding: 0;
    }

    .kt-portlet__body.kt-portlet__body--fit-top {
    	padding-top: 0 !important;
    }

    .kt-portlet__body.kt-portlet__body--fit-bottom {
    	padding-bottom: 0 !important;
    }

    .kt-portlet__body.kt-portlet__body--fit-x,
    .kt-portlet__body.kt-portlet__body--hor-fit {
        padding-left: 0;
        padding-right: 0;
    }

    .kt-portlet__body.kt-portlet__body--fit-y {
        padding-top: 0;
        padding-bottom: 0;
    }

    .kt-portlet__foot.kt-portlet__foot--fit {
    	padding: 0;
    }

    &.kt-portlet--space {
        padding-left: kt-get($portlet, space, desktop);
        padding-right: kt-get($portlet, space, desktop);

        .kt-portlet__head,
        .kt-portlet__body,
        .kt-portlet__foot {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // Options
    // No border
    &.kt-portlet--head-noborder {
        .kt-portlet__head {
            border-bottom: 0;
        }

        .kt-portlet__body {
            padding-top: calc(kt-get($portlet, space, desktop) / 2);
        }
    }

    // Tab style
    &.kt-portlet--tabs {
        .kt-portlet__head {
            .kt-portlet__head-toolbar {
                display: flex;
                align-items: stretch;
            }
        }
    }


    // Spacing
    .kt-portlet__space-x {
        padding-left: kt-get($portlet, space, desktop) !important;
        padding-right: kt-get($portlet, space, desktop) !important;
    }

    .kt-portlet__space-y {
        padding-top: kt-get($portlet, space, desktop) !important;
        padding-bottom: kt-get($portlet, space, desktop) !important;
    }

    // Collapsed Mode
    &.kt-portlet--collapsed {
        > .kt-form,
        > .kt-portlet__body {
            display: none;
        }
    }

    &.kt-portlet--collapsed,
    &.kt-portlet--collapse {
        .kt-portlet__head  {
            .kt-portlet__head-toolbar {
                .la-angle-down {
                    &:before {
                        content: "\f113";
                    }
                }

                .la-plus {
                    &:before {
                        content: "\f28e";
                    }
                }
            }
        }
    }
}

// Portlet tools tooltip
.tooltip-portlet {
    opacity: 1;
}

@include kt-tablet-and-mobile {
	.kt-portlet {
      // Portlet body alignment
      .kt-portlet__body {
          .kt-portlet__body--hor-fit {
              margin-left: -(kt-get($portlet, space, mobile));
              margin-right: -(kt-get($portlet, space, mobile));
          }
      }

		// Marginless
	    &.kt-portlet--marginless {
	    	margin-bottom: 0;
	    }

        // Spacing
        .kt-portlet__space-x {
            padding-left: kt-get($portlet, space, mobile) !important;
            padding-right: kt-get($portlet, space, mobile) !important;
        }

        .kt-portlet__space-y {
            padding-top: kt-get($portlet, space, mobile) !important;
            padding-bottom: kt-get($portlet, space, mobile) !important;
        }
	}
}
