$contentPadding: var(--dui-spacing-4);
$content-sizes: (
    small: 576px,
    medium: 1024px,
    large: 1399px,
);

$justify-content: (
    left: flex-start,
    center: center,
    right: flex-end,
);

.page-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    &__content {
        padding: $contentPadding;
        flex: 1;
        overflow: hidden auto;
        width: 100%;
        display: flex;
        justify-content: flex-start;

        @each $alignment, $attribute in $justify-content {
            &--justify-content-#{$alignment} {
                justify-content: $attribute;
            }
        }
    }

    &__content-inner {
        flex: 1;
        //margin: 0 auto;

        @each $size, $width in $content-sizes {
            &--#{$size} {
                max-width: $width;
            }
        }
    }

    &__subheader {
        display: flex;
        align-items: center;
        background-color: var(--dui-color-light);
        padding: var(--dui-spacing-2) $contentPadding;
        box-shadow: var(--dui-elevate-shadow);
    }

    &__subheader-toolbox {
        margin-left: auto;
        display: flex;
        flex-direction: row;
        gap: var(--dui-spacing-2);
    }
}
