.subheader-title {
  display: flex;
  gap: var(--dui-spacing-2);
  align-items: center;

  &__title {
    margin: 0;
    color: var(--dui-color-text-dark);
  }

  &__description {
    font-weight: var(--dui-font-weight-bold);
    color: var(--dui-color-text-dark-bg);
  }

  &__separator {
    display: block;
    width: 1px;
    height: 25px;
    background: var(--dui-color-base-1);
  }
}
