// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------
$font-path: "@/../assets/fonts";
@font-face {
  font-family: 'Press Start';
  font-display:swap;
  font-weight: 500;
  src: url('#{$font-path}/PressStart2P-Regular.ttf') format('truetype');
}