.header-user-bar {
  position: relative;

  &__dropdown {
    position: absolute;
    will-change: transform;
    top: 100%;
    right: 0;
    left: auto;
  }

  &__user-card {
    background-image: url("@/../assets/images/header-user-bar-background.jpg");
  }
}
