.admin-section {
  margin-bottom: 2rem;

  &--sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 2rem;
  }

  &__header {
    h1,
    h2,
    h3,
    h4 {
      margin-bottom: 0;
    }
  }

  &__body {
    position: relative;

    > table {
      margin: 0;
    }

    form {
      .col-md-6,
      .col-lg-6,
      .col-sm-6 {
        &:last-child,
        &:nth-last-of-type(-n + 2):not(:nth-child(even)) {
          .form-group {
            margin-bottom: 0;
          }
        }
      }
      .col-md-12,
      .col-sm-12,
      .col-lg-12,
      .col-12 {
        .form-group {
          margin-bottom: 0;
        }
      }

      .form-row {
        margin-bottom: 1rem;
        &:last-child {
          margin-bottom: 0;
        }
      }
    }
    .subtitle {
      margin-bottom: 1rem;
      padding-bottom: 0.5rem;
      margin-top: 1rem;
      border-bottom: 1px solid rgba(0, 0, 0, 0.06);
      font-size: 1.2rem;
      letter-spacing: 2px;
      font-weight: 800;
    }
  }

  &__footer {
    display: flex;
    justify-content: space-between;
  }
}
