.menus-page {
  &__content {
    display: flex;
    gap: var(--dui-spacing-4);
  }

  &__list {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  &__list-item {
    padding: var(--dui-spacing-2);
    margin-bottom: var(--dui-spacing-1);
    background-color: var(--dui-color-base-shape-2);
    border: var(--dui-border-light);
    border-radius: var(--dui-border-radius);
  }

  &__list-item-element {
    display: block;

    &--name {
      color: var(--dui-color-text-dark);
    }
  }
}
