//
// Global Config
//

// Functions
@import "core/functions";

// Mixins
@import "core/mixins";
@import "vendors/mixins/perfect-scrollbar";
@import "core/base/mixins/burger-menu";
@import "core/base/mixins/menu-horizontal";
@import "core/base/mixins/menu-vertical";
@import "core/base/mixins/offcanvas";
@import "core/base/mixins/spinner";

// Theme mixins
@import "core/layout/mixins/app";
@import "core/typography/mixins/link";
@import "core/general/mixins/user-pic";

// Layout Breakpoints(bootstrap responsive breakpoints)
// Define the minimum and maximum dimensions at which your layout will change, adapting to different screen sizes, for use in media queries.
$media-breakpoints: (
    // Extra small screen / phone
    xs: 0,

    // Small screen / phone
    sm: 576px,

    // Medium screen / tablet
    md: 768px,

    // Large screen / desktop
    lg: 1024px, //1024px,

    // Extra large screen / wide desktop
    xl: 1399px
) !default;

// Global rounded border mode
$rounded: true !default;

// Border Radius
$border-radius: 4px !default;

// Core icon codes(lineawesome icons: https://icons8.com/line-awesome)
$action-icons: (
    close: '\f191',
    down: '\f110',
    up: '\f113',
    left: '\f111',
    right: '\f112',
    plus: '\f2c2',
    minus: '\f28e'
) !default;

// Core bold icon codes(lineawesome icons: https://keenthemes.com/metronic/preview/default/components/icons/flaticon.html)
$action-bold-icons: (
    down: '\f1b1',
    up: '\f1b3',
    left: '\f1b2',
    right: '\f1a9'
) !default;

// Elevate shadow
$elevate-shadow: 0px 0px 13px 0px rgba(82,63,105,0.05) !default;
$elevate-shadow-2: 0px 0px 13px 0px rgba(82,63,105,0.1) !default;

// Dropdown shadow
$dropdown-shadow: 0px 0px 50px 0px rgba(82,63,105, 0.15) !default;

// Custom scrollbar color
$scroll-color: darken(#ebedf2, 6%) !default;

// Transition
$transition: all 0.3s !default;

// Modal Z-index
$modal-zindex: 1050 !default;

// dropdown Z-index
$dropdown-zindex: 95 !default;

// State colors
$state-colors: (
    // Metronic states
    brand: (
        base: #505ae2,
        inverse: #ffffff
    ),
    light: (
        base: #ffffff,
        inverse: #282a3c
    ),
    dark: (
        base: lighten(#4c467a, 12%),
        inverse: #ffffff
    ),

    // Bootstrap states
    primary: (
        base: #5867dd,
        inverse: #ffffff
    ),
    success: (
        base: #1dc9b7,
        inverse: #ffffff
    ),
    info: (
        base: #5578eb,
        inverse: #ffffff
    ),
    warning: (
        base: #ffb822,
        inverse: #111111
    ),
    danger: (
        base: #fd397a,
        inverse: #ffffff
    )
)!default;

// Base colors
$base-colors: (
    label: (
        1: #adb1c7,
        2: #a7abc3,
        3: #6c7293,
        4: #464457
    ),
    shape: (
        1: #f0f3ff,
        2: #e8ecfa,
        3: #93a2dd,
        4: #646c9a
    ),
    grey: (
        1: #f7f8fa, //#f4f5f8
        2: #ebedf2,
        3: darken(#ebedf2, 3%),
        4: darken(#ebedf2, 6%)
    )
) !default;

// Social network colors
$social-colors: (
    facebook: (
        base: #3b5998,
        inverse: #ffffff
    ),
    google: (
        base: #dc4e41,
        inverse: #ffffff
    ),
    twitter: (
        base: #4AB3F4,
        inverse: #ffffff
    ),
    instagram: (
        base: #517fa4,
        inverse: #ffffff
    ),
    youtube: (
        base: #b31217,
        inverse: #ffffff
    ),
    linkedin: (
        base: #0077b5,
        inverse: #ffffff
    )
) !default;

// Root Font Settings
$font-families: (
    regular: 'Poppins',
    heading: 'Poppins'
) !default;

// Root Font Settings
$font-size: (
    size: (
        desktop: 13px,
        tablet: 12px,
        mobile: 12px
    ),
    weight: 300
) !default;

// General Link Settings
$font-color: (
    text: #646c9a,
    link: (
        default: kt-state-color(brand),
        hover: darken(kt-state-color(brand), 6%)
    )
) !default;

// Page padding
$page-padding: (
    desktop: 25px,
    mobile: 15px
) !default;

// Custom Scroll(Perfect Scrollbar) size
$custom-scroll-size: 4px !default;
