$input-config: kt-get($form-config, input);
$color-config: kt-get($starter-config, color);
$border-config: kt-get($starter-config, border);

.form-input {

  &__input {
    width: 100%;
    padding: kt-get($input-config, 'padding-y') kt-get($input-config, 'padding-x');
    font-size: kt-get($form-config, 'font-size');
    font-weight: kt-get($input-config, 'font-weight');
    line-height: kt-get($starter-config, 'line-height', base);
    color: kt-get($color-config, body, text);
    background-color: kt-get($color-config, body, background);
    background-clip: padding-box;
    border: kt-get($border-config, value);
    border-radius: kt-get($border-config, radius);

    transition: kt-get($input-config, transition);

    &:focus {
      color: kt-get($color-config, body, color);
      background-color: kt-get($color-config, body, background);
      border-color: kt-get($input-config, color, focus);
      outline: 0;

      @if ($enable-shadows) {
        box-shadow: kt-get($starter-config, 'focus-ring-box-shadow');
      }
    }

    &--error,
    &--error:focus {
      border-color: kt-get($input-config, color, error);
    }

    &--inline {
      flex: 1;
    }
  }

  &__group {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
  }

  &__attachment {
    display: flex;
    align-items: center;
    padding: kt-get($input-config, 'padding-y') kt-get($input-config, 'padding-x');
    font-size: kt-get($starter-config, 'font-size');
    font-weight: $font-weight-normal;
    line-height: kt-get($starter-config, 'line-height', base);
    color: kt-get($color-config, body, color);
    text-align: center;
    white-space: nowrap;
    background-color: $tertiary-bg;
    border: kt-get($border-config, value);;
    border-radius: kt-get($starter-config, border, radius);
  }
}
