// Base color
$base_color: #f9fbfe;

// Scrollbar
$scrollbar_color: var(--dui-color-base-shape-2);

// Head
$head_cell_bg: transparent;
$head_cell_color: var(--dui-color-base-label-3);
$head_cell_sorted_color: var(--dui-color-brand);
$head_cell_icon_color: var(--dui-color-brand);

// Checkbox
$checkbox_bg: var(--dui-color-base-shape-1);
$checkbox_checked_bg: var(--dui-color-base-shape-2);

// Row colors
$row-border-color: var(--dui-color-base-shape-2);
$row-even: var(--dui-color-base-shape-1);
$row-hover: transparent;
$row-active: var(--dui-gray-100);

// Body cell
$body_cell_font_color: var(--dui-color-base-label-3);

// Lock table shadow
$lock-shadow: 0px 0px 17px 5px rgb(113 106 202 / 14%);

// Subtable
$subtable_toggle_icon: var(--dui-color-brand);
$subtable_expanded: $row-active;
$subtable_pager_pagel: $base-color;
$subtable_shadow: 0px 0px 15px 1px rgb(113 106 202 / 10%);
$detail_icon_color: var(--dui-color-brand); //var(--dui-color-base-shape-2);
$detail_icon_color_hover: var(--dui-color-brand);

// Pagination colors
$page-default: var(--dui-color-base-shape-1);
$page-default-font: var(--dui-color-base-shape-3);
$page-hover: var(--dui-color-brand);
$page-hover-font: var(--dui-color-brand-inverse);
$page-active: var(--dui-color-brand);
$page-active-font: var(--dui-color-brand-inverse);
$page-info: var(--dui-color-base-shape-1);
$page-info-font: var(--dui-color-base-shape-3);
$page-info-hover: var(--dui-color-brand);
$page-info-hover-font: var(--dui-color-brand-inverse);
