//Bootstrap dependencies
@import "layers";

$enable-shadows: false;
// Layout
$aside-default-width: 265px;
$aside-minimize-width: 70px;
$aside-offcanvas-width: 255px;

$font-weight-normal:          400 !default;

// Layout Skins
$layout-skins: (
  dark: #1e1e2d,
  light: #ffffff,
);

// content bg color
$content-bg-color: #f2f3f8;
$tertiary-bg: #f7f8fa;

// Border Radius
//$border-radius: 4px;
$spacer: 1rem;

$starter-config: (
  font-size: 1rem,
  focus-ring-box-shadow: 0 0 0 .2rem rgba($primary, .25),
  border: (
    radius: .375rem,
    value: 1px solid #e2e5ec,
  ),
  color: (
    body: (
      text: #495057,
      background: #ffffff
    )
  ),
  line-height: (
    base: 1.5
  ),
  spacing: (
    0: 0,
    1: $spacer * .25,
    2: $spacer * .5,
    3: $spacer,
    4: $spacer * 1.5,
    5: $spacer * 3,
  )
)
